altgraph==0.16.1
certifi==2016.2.28
future==0.17.1
macholib==1.11
numpy==1.16.0
pefile==2018.8.8
PyInstaller==3.4
PySide2==5.12.0
pywin32-ctypes==0.2.0
PyYAML==3.13
shiboken2==5.12.0
wincertstore==0.2
